[submodule "panda"]
  path = panda
  url = https://github.com/dolson8874/panda.git
  branch = lrmaster-SP-tici
[submodule "opendbc"]
  path = opendbc_repo
	url = https://github.com/dolson8874/opendbc.git
  branch = lrmaster-SP-tici
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/commaai/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/commaai/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = https://github.com/commaai/teleoprtc
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/sunnypilot/tinygrad.git
[submodule "sunnypilot/neural_network_data"]
  path = sunnypilot/neural_network_data
  url = https://github.com/sunnypilot/neural-network-data.git
